@if (item_img) {
  <img [src]="item_img" alt="Item Image" class="chart-image" />
}
<div class="chart-container">
  @if (
    chartData.datasets[0].data.length > 0 ||
    chartData.datasets[1].data.length > 0
  ) {
    <div>
      <canvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="'line'"
        [plugins]="[]"
        class="chart-canvas"
      ></canvas>
    </div>
  }

  @if (
    chartData.datasets[0].data.length === 0 &&
    chartData.datasets[1].data.length === 0
  ) {
    <div>
      <p>No data available to display.</p>
    </div>
  }
</div>
